<section class="c-hero{{#if class}} {{class}}{{/if}}">
    <picture class="c-hero__img">
        <source 
            media="(min-width: 1025px)"
            srcset="{{#if imgURL}}{{imgURL}}{{else}}http://placeimg.com/1200/430/people{{/if}}">
        <img
            src="{{#if imgMURL}}{{imgMURL}}{{else}}http://placeimg.com/1024/270/people{{/if}}" 
            alt="{{alt}}">
    </picture>
    <div class="c-hero__inner">
        <div class="o-container">
            <div class="c-hero__caption">
                <h1 class="c-hero__title c-h-xl">
                    <span class="c-hero__eyebrow">
                        {{~#if eyebrow~}}
                            {{eyebrow}}
                        {{~else~}}
                            John and Claudia Cook
                        {{~/if~}}
                    </span>
                    {{#if title}}
                    {{title}}
                    {{else}}
                    Great lives, one story at a time.
                    {{/if}}
                </h1>
                {{#if button}}
                <button type="button" class="c-btn c-btn--solid c-btn--narrow">
                    {{~#if buttonText~}}
                        {{buttonText}}
                    {{~else}}
                        View story
                    {{/if~}}
                    {{~#if iconId}}
                        {{> icon id=iconId class="c-btn__icon"}}
                    {{/if}}
                </button>
                {{else}}
                <a href="{{#if buttonLink}}{{buttonLink}}{{else}}#{{/if}}" class="c-btn c-btn--solid c-btn--narrow"{{#if fancyBox}} data-fancybox{{/if}}>
                    {{~#if buttonText~}}
                        {{buttonText}}
                    {{~else}}
                        View story
                    {{/if~}}
                    {{~#if iconId}}
                        {{> icon id=iconId class="c-btn__icon"}}
                    {{/if}}
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</section><!-- /.hero -->
