---
notes: |
    Tall variant, used on home and landing pages.
    
    `class="c-hero c-hero--tall"`

    Image sizes:
    * Desktop: 1200x605
    * Mobile: 1024x270
---

<section class="c-hero c-hero--tall{{#if class}} {{class}}{{/if}}">
    <picture class="c-hero__img">
        <source 
            media="(min-width: 1025px)"
            srcset="{{#if imgURL}}{{imgURL}}{{else}}http://placeimg.com/1200/605/people{{/if}}">
        <img
            src="{{#if imgMURL}}{{imgMURL}}{{else}}http://placeimg.com/1024/270/people{{/if}}" 
            alt="{{alt}}">
    </picture>
    <div class="c-hero__inner">
        <div class="o-container">
            <div class="c-hero__caption">
                <h1 class="c-hero__title c-h-xl">
                    <span class="c-hero__eyebrow">
                        {{~#if eyebrow~}}
                            {{eyebrow}}
                        {{~else~}}
                            John and Claudia Cook
                        {{~/if~}}
                    </span>
                    {{#if title}}
                    {{title}}
                    {{else}}
                    Great lives, one story at a time.
                    {{/if}}
                </h1>
                {{#if description}}
                <div class="hero__desc">
                    <p>
                    {{description}}
                    </p>
                </div>
                {{/if}}
                {{#if button}}
                <button type="button" class="c-btn c-btn--solid c-btn--narrow">
                    {{~#if buttonText~}}
                        {{buttonText}}
                    {{~else}}
                        View story
                    {{/if~}}
                    {{~#if iconId}}
                        {{> icon id=iconId class="c-btn__icon"}}
                    {{/if}}
                </button>
                {{/if}}
                {{#if buttonLink}}
                <a href="{{#if buttonLink}}{{buttonLink}}{{else}}#{{/if}}" class="c-btn c-btn--solid c-btn--narrow"{{#if fancyBox}} data-fancybox{{/if}}>
                    {{~#if buttonText~}}
                        {{buttonText}}
                    {{~else}}
                        View story
                    {{/if~}}
                    {{~#if iconId}}
                        {{> icon id=iconId class="c-btn__icon"}}
                    {{/if}}
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</section><!-- /.hero -->
