/**
 * Reset elements
 */

@mixin reset-input {
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
}

@mixin reset-button {
    @include reset-input;
}

@mixin reset-select {
    @include reset-input;
    border-radius: 0;
    text-indent: 0.01px;
    text-overflow: '';
    
    &::-ms-expand {
        display: none;
    }
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}