/**
 * Colors
 */

$color-black:                   #000000;
$color-white:                   #ffffff;


$color-red:                     #f00;
$color-error:                   $color-red;
$color-error-bg:                #f9e0f1;

$color-success:                 #008000;
$color-success-bg:              #dbfddc;

$color-base:                    $color-black;
$color-btn:                     $color-black;
$color-border:                  $color-black;

$color-input-border:            $color-black;